:javascript
  //Contains functions that help show and edit information about courses and their prerequisistes
  var MODULE = (function(my){
    //Generate html consisting of options for a select containing all subject codes
    my.GraphCreator.prototype.courseSubjectCodes = function() {
      var select_html = '';
      var first = false;

      for(var subj_code in course_data){
        select_html += '<option value="'+subj_code+'" '+(first ? 'selected' : '')+'>'+subj_code+'</option>';

        if(first)
          first = false;
      }

      return select_html;
    }

    //Check if prerequisite relationships are valid
    my.GraphCreator.prototype.isValidPrereqs = function(course_subj_code,course_num) {
      var thisGraph = this;

      for(var i in thisGraph.prereqContainer.prereqs)
        for(var j in thisGraph.prereqContainer.prereqs[i]){
          var thisPrereq = thisGraph.prereqContainer.prereqs[i][j];
          if(course_subj_code === thisPrereq.course_subj_code && course_num === thisPrereq.course_num){
            alert('A course cannot be a prerequisite for itself');
            return false;
          }
        }

      return true;
    }

    //Called when edges are grouped via context menu.  Creates new optional group
    //in target's course.requirements attributes. Make any other optional groups
    //those edges are a part of no longer optional
    my.GraphCreator.prototype.setPrereqsToOptional = function(edges,target){
      var thisGraph = this, prereqInds = [], nodeIdx = this.findNodeIndex(target),
        prereqsToPush = [];

      edges.forEach(function(edge){
          thisGraph.nodes[nodeIdx].course.requirements.forEach(function(req, i){
          if(prereqInds.indexOf(i) === -1){
            if(thisGraph.helper.isArray(req)){
              req.forEach(function(r,j){
                if(r.node === edge.source){
                  prereqInds.push(i);
                  var reqCpy = req;
                  reqCpy.splice(j,1);
                  prereqsToPush = prereqsToPush.concat(reqCpy);
                }
              })
            }else if(req.node === edge.source) prereqInds.push(i);
          }
        })  
      });

      thisGraph.nodes[nodeIdx].course.requirements = 
        thisGraph.helper.spliceMultInds(thisGraph.nodes[nodeIdx].course.requirements,prereqInds).concat(prereqsToPush);

      var optGroup = [];
      edges.forEach(function(e){ optGroup.push({node: e.source, requirement_type: e.type}) });
      thisGraph.nodes[nodeIdx].course.requirements.push(optGroup);
    }

    //Given an edge index and new requirement type, finds the source node in the target's requirements
    //and updates its requirement type to the new value
    my.GraphCreator.prototype.updateCourseRequirements = function(idx,reqType,groupLength) {
      var thisGraph = this;

      thisGraph.edges[idx].target.course.requirements.forEach(function(req,i){
        if(thisGraph.helper.isArray(req)){
          req.forEach(function(r,j){ 
            if(r.node === thisGraph.edges[idx].source)
              thisGraph.edges[idx].target.course.requirements[i][j].requirement_type = reqType;
          });
        }else if(req.node === thisGraph.edges[idx].source) {
          thisGraph.edges[idx].target.course.requirements[i].requirement_type = reqType;
        }
      })
    }

    //Called when prereq form is submitted.  Saves prereq information 
    //until it is saved when the node's smallipop form is submitted
    my.GraphCreator.prototype.setPrereqContainer = function(node,prereqs,additionalNotes){
      this.prereqContainer.node = node;
      this.prereqContainer.prereqs = prereqs;
      this.prereqContainer.additionalNotes = additionalNotes;
    }

    my.GraphCreator.prototype.clearPrereqContianer = function(){
      this.prereqContainer.node = null;
      this.prereqContainer.prereqs = [];
      this.prereqContainer.additionalNotes = '';
    }

    //Set prerequisites for course when prereq form and node form are both submitted
    my.GraphCreator.prototype.setPrerequisites = function() {
      var thisGraph = this,
        node = thisGraph.prereqContainer.node,
        prereqs = thisGraph.prereqContainer.prereqs,
        idx = thisGraph.findNodeIndex(node),
        optionGroup = [], currentNode,
        group, prereqIdx = 0;

      thisGraph.nodes[idx].course.additionalNotes = thisGraph.prereqContainer.additionalNotes;
      thisGraph.removeEdges();
      //Get all nodes to the left of the node
      var leftNodes = thisGraph.nodes.filter(function(d){ return d.x <= node.x });
      prereqs.forEach(function(prereq_list, listIdx){
        optionGroup = [];
        group = null;
        if(prereq_list.length !== 0){
          prereq_list.forEach(function(prereq, optIdx){
            var course_found = false;
            for(var i in thisGraph.nodes){
              currentNode = thisGraph.nodes[i];
              if(currentNode.course.isSameCourse(prereq.course_subj_code,prereq.course_num)){
                course_found = true;
                var edgeIndex = thisGraph.findEdgeIndex(currentNode,node);

                //An edge between these nodes already exists
                if(edgeIndex !== -1){
                  thisGraph.edges[edgeIndex].type = prereq.requirement_type;
                  thisGraph.edges[edgeIndex].optional = false;
                  optionGroup.push(thisGraph.edges[edgeIndex]);

                  if(optIdx === 0) 
                    group = thisGraph.edges[edgeIndex].group;

                  thisGraph.updateCourseRequirements(edgeIndex,prereq.requirement_type,prereq_list.length);
                  thisGraph.updateGraph();
                }else {
                  //Source node already exists, create new edge
                  var thisEdge = thisGraph.createEdge(currentNode,node,prereq.requirement_type,group);
                  optionGroup.push(thisEdge);

                  if(optIdx === 0) 
                    group = thisEdge.group;

                  thisGraph.addNewPrereq(idx,currentNode,prereq.requirement_type,prereq_list,prereqIdx,optIdx);
                }
                break;
              }
            }
            if(!course_found){
              var coords = thisGraph.findSpaceForNode(node, leftNodes);
              var d = new Node(thisGraph.idct++,coords[0],coords[1],prereq);
              thisGraph.addNewPrereq(idx,d,prereq.requirement_type,prereq_list,prereqIdx,optIdx);

              //Add this to the list of nodes we need to avoid when placing new nodes
              leftNodes.push(d);
              thisGraph.nodes.push(d);
              thisGraph.updateGraph();

              //Add new edge
              var thisEdge = thisGraph.createEdge(d,node,prereq.requirement_type, group);
              optionGroup.push(thisEdge);
              if(optIdx === 0){ 
                group = thisEdge.group;
              }
            }
          })
        prereqIdx++;
        }
        if(optionGroup.length > 1) thisGraph.setEdgeGroup(optionGroup, node);
      })

      thisGraph.updateGraph();
      thisGraph.clearPrereqContianer();
    }

    //Adds a new prereq to a node course.requirements member
    my.GraphCreator.prototype.addNewPrereq = function(idx, prereqNode,reqType,prereq_list,listIdx,optIdx) {
      var thisGraph = this;
      var newPrereq = {node: prereqNode, requirement_type: reqType};

      //Build list of prereqs for this course
      if(prereq_list.length > 1 && optIdx === 0)
        thisGraph.nodes[idx].course.requirements[listIdx] = [newPrereq];
      else if(prereq_list.length > 1){
        try { thisGraph.nodes[idx].course.requirements[listIdx].push(newPrereq) }
        catch(e){
          thisGraph.nodes[idx].course.requirements[listIdx] = [thisGraph.nodes[idx].course.requirements[listIdx],newPrereq];
        }
      }
      else
        thisGraph.nodes[idx].course.requirements[listIdx] = newPrereq;
    }

    //Does initial set up for form that appears on shift click of a node or the svg
    my.GraphCreator.prototype.initializeCourseForm = function(d3node,d) {
        var thisGraph = this,
          node = d;

     //Register handlers
     $("#course_num_select").on("change", function(d){
        $("#change_course").focus();
     });

      $("#course_subj_code_select").off("change", changeSubjCode).on("change", changeSubjCode);

      function changeSubjCode(d){
        thisGraph.updateCourseNumSelect.call(thisGraph, d3.select(this), node);
        $("#course_num_select").select2('open');
      }

      $("#change_course").on("click", function(d){
        var courseUpdated = thisGraph.updateNodeCourse.call(thisGraph, d3node, node); 
        thisGraph.prereqForm = null;
        return courseUpdated;
      }) 

      $("#change_requirements").on("click", function(d){
        if(!thisGraph.prereqForm)
          thisGraph.prereqForm = new PrereqForm(thisGraph.setPrereqContainer, thisGraph, node, d3node);
        $(".smallipop-instance").css('z-index', '1');
        thisGraph.prereqForm.setCourseRequirements();
      })

      $("#course_subj_code_select").select2({ 
        width: 'style', 
        placeholder: 'Subject Code',
        sortResults: function(results) {
          return results.sort(thisGraph.helper.alphabeticalCmp);
        }
      });

      $("#course_subj_code_select").select2('open');

      $("#course_num_select").select2({ 
        width: 'style', 
        placeholder: 'Course Number',
        sortResults: function(results) {
          return results.sort(thisGraph.helper.alphabeticalCmp);
        }
      });

      if(d.course.course_subj_code !== null){
        $("#course_subj_code_select").val(d.course.course_subj_code);
        $("#course_subj_code_select").change();
        $("#course_num_select").val(d.course.course_num.toString());
        $("#course_num_select").change();
      }else
        thisGraph.updateCourseNumSelect.call(thisGraph);

      $(".courseFormSelect").on('select2-focus',function(e){
        $("#s2id_"+e.target.id+' a').addClass('formSelect');
      }).on('select2-blur',function(e){
        $("#s2id_"+e.target.id+' a').removeClass('formSelect');
      });
    }

    //Generates the html that goes in the node mouseover tooltip
    my.GraphCreator.prototype.nodeInfo = function(d) {
      var thisGraph = this;

      return (
        '<h3>'+d.title+': '+d.course.ctitle+'</h3>' +
        '<a style="test-algin: left"><strong>Units</strong>: '+ d.course.units +'<br>'+
        '<p style="text-align: left"><strong>Past Course Offerings</strong>: '+
        '<br>' +
        thisGraph.courseHistory(d) +
        '</p>' +
        '<p style="text-align: left"><strong>Prerequisites</strong>: '+
        thisGraph.courseRequirements(d) +
        '</p>'+
        (d.course.additionalNotes ? '<p style="text-align: left"><strong>Additional Notes</strong>: '+ d.course.additionalNotes + '</p>' : '')
      )
    }

    //Gets average course sizes and terms offered over the last 4 years for specific course
    my.GraphCreator.prototype.getCourseHistory = function(d) {
      var thisGraph = this,
        history = {
          offerings: {'fall': 0, 'winter': 0,'spring': 0,'summer1': 0, 
            'summer2': 0, 'summer_special': 0, 'summer_quarter': 0, 'summer_extra': 0},
          size: {'fall': 0, 'winter': 0,'spring': 0,'summer': 0, 'summer1': 0,
            'summer2': 0, 'summer_special': 0, 'summer_quarter': 0, 'summer_extra': 0},
          term_map: {'10': 'fall', '01': 'winter', '03': 'spring', '05': 'summer1',
            '07': 'summer2', '06': 'summer_special','08':'summer_quarter','04': 'summer_extra' }
        },
        summerYears = [],
        course_terms = course_data[d.course.course_subj_code][d.course.course_num].terms_offered;
      var termCodes = history.term_map;

      for(var key in course_terms){
        if(key >= "201103"){
          var term = termCodes[key.substr(4)];
          history.offerings[term]++;
          history.size[term] += course_terms[key];
        }
      }

      return history;
    }

    //Generate html showing data recieved from getCourseHistory
    my.GraphCreator.prototype.courseHistory = function(d) {
      var thisGraph = this,
        history = thisGraph.getCourseHistory(d), outputHtml = '',
        termNames = {'10': 'falls', '01': 'winters', '03': 'springs', '05': 'Summer Session 1s', '07': 'Summer Session 2s',
          '06': 'Summer Special Sessions', '08': 'Summer Quarters', '04': 'Extra Sessions'};
      var termMap = history.term_map;

      for(var key in history.term_map){
        outputHtml += history.offerings[termMap[key]] !== 0 ? (history.offerings[termMap[key]] + " of the last 4 " + 
          termNames[key]+" (Avg. Enrollment: " + Math.round(history.size[termMap[key]] / history.offerings[termMap[key]]) + ")<br>") : '';
      }
      return outputHtml;
    }

    //Creates html showing the prerequites for a given course
    my.GraphCreator.prototype.courseRequirements = function(d) {
      var thisGraph = this,
        reqString = '';

      d.course.requirements.forEach(function(req,i){
        if(thisGraph.helper.isArray(req)){
          req.forEach(function(r,j){
            reqString += r.node.title;

            switch (r.requirement_type) {
              case RelationshipType.COREQ:
                reqString += ' (may be taken concurrently)';
                break;
              case RelationshipType.COREQ_STRICT:
                reqString += ' (must be taken concurrently)';
                break;
            }

            if(j !== req.length - 1) 
              reqString += ' or ';
            else if(i !== d.course.requirements.length - 1)
              reqString += ', ';
          })
        }else{
          reqString += req.node.title;

          switch (req.requirement_type) {
            case RelationshipType.COREQ:
              reqString += ' (may be taken concurrently)';
              break;
            case RelationshipType.COREQ_STRICT:
              reqString += ' (must be taken concurrently)';
              break;
          }

          if(i !== d.course.requirements.length - 1)
            reqString += ', ';
        }
      })

      return reqString === '' ? 'None' : reqString;
    }

    return my;
  })(MODULE || {});